.wrapper {
    .class-3 {
        background-color: fuchsia;
        color: gold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: auto;
        padding: 20px;
    }
    .purpleClass {
        color: palegreen;
        background-color: purple;
    }
}

